/* Import Font

Heading 3D font
kg_summer_sunshineregular
    

Heading Font
always_foreverbold


Content Font
dk_pimpernelregular

*/

@import url('../assets/fonts/webfonts/stylesheet.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    font-family: 'kg_summer_sunshineregular';
    /*  background: url(../assets/images/paper.png) repeat; */
}

#view-port {
display: block;
position:absolute;
z-index: 999;
top:0;
left:0;
}


.rangemom {
    position: absolute;
    z-index: 9999;
    width: 1200px;
}

.range {
    width: 12gi00px;
    display: block;
}