* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    background: url(../assets/images/paper.png) repeat;
}

#view-port {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

#cloud-way {
    
    border: 10px solid rgba(0,0,0,0.1);
    margin:auto;
    
}